<%= form_for(@query, html: {:is => "component-form"}) do |f| %>
  <% if @query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
      <% @query.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <paper-input floatingLabel name="query[name]" label="Name" value="<%= @query.name %>" style="display: inline-block;"></paper-input> <paper-input floatingLabel name="query[ttl_minutes]" type="number" label="Maximum permissible age (minutes)" style="display: inline-block;" value="<%= @query.ttl_minutes %>"></paper-input>


  <div class="field">
    <%= f.label :query %><br>
    <%= f.text_area :query %>
  </div>
  <script>
    var editor = CodeMirror.fromTextArea(document.getElementById("query_query"), {
      mode: "text/x-sql",
      indentWithTabs: true,
      smartIndent: true,
      lineNumbers: true,
      matchBrackets : true
    });
  </script>
  <paper-button raised class="colored" role="button" tabindex="0" style="overflow: visible; float:right" type="submit">   <core-icon icon="check"></core-icon>Save Changes</paper-button>
<% end %>
