<h1>Listing queries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last queried</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @queries.each do |query| %>
      <tr>
        <td><%= query.name %></td>
        <td><%= query.last_result.created_at %></td>
        <td><%= link_to 'Show', query %></td>
        <td><%= link_to 'Destroy', query, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Query', new_query_path %>
