<%= link_to 'Back', queries_path %>
<p id="notice"><%= notice %></p>

<%= render 'form' %>

In CSV format: <%= link_to 'CSV', result_path(@query.id, format: :csv) %>
<br />
In JSON format: <%= link_to "JSON", result_path(@query.id, format: :json) %>

<p>
  <strong>Last result:</strong>
  <div id="result">
    Loading.....
  </div>
  <script type="text/javascript">
    $.ajax({
      type: "GET",
      url: "<%= result_path(@query.id) %>",
      success: function(data) {
            // data is ur summary
           $('#result').html(data);
      }

    });
  </script>
</p>

